{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!doctype html>
<html>
    <head>
        <title>SMYT test case</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta http-equiv="Content-Type" content="UTF-8" />
        <link rel="stylesheet" href="{{STATIC_PREFIX}}css/jquery-ui-1.10.2.css">
        <script src="{{STATIC_PREFIX}}js/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="{{STATIC_PREFIX}}js/handlebars-v1.3.0.js"></script>
        <script src="{{STATIC_PREFIX}}js/jquery-ui-1.10.2.min.js"></script>
        <script src="{{STATIC_PREFIX}}js/jquery-ui.datepicker-ru.js"></script>
        <script src="{{STATIC_PREFIX}}js/jquery.dateentry.min.js"></script>
        <script src="{{STATIC_PREFIX}}js/jquery.validate.min.js"></script>
        <script src="{{STATIC_PREFIX}}js/jquery.cookie.js"></script>
        <script src="{{STATIC_PREFIX}}js/jquery.form.js"></script>
        <script src="{{STATIC_PREFIX}}js/base.js"></script>
        <style type="text/css">
            body > div{display:table; border-spacing:15px; border:solid 3px red; width:100%;}
            body > div div div div{display:table-row;}
            body > div div div div div{display:table-cell; border:solid 1px navy}
        </style>
    </head>
    
    <body>
        <div>
            <div id="models-list" style="float:left;">
                <h2>Таблицы</h2>
                <ul>
                    {% for model in models %}
                        <a href="{% url 'get_data' model.0 %}" id="{{model.0}}"><li>{{ model.1.verbose_name_plural }}</li></a>
                    {% endfor %}
                </ul>
            </div>
            <div id="results" style="float:right;">
                <div id="model_data"></div>
            </div>
        </div>

        {% verbatim %}
        <script id="fields-template" type="text/x-handlebars-template">
            <form id="model_form" form_name="{{modelname}}" method="post">
                {{{csrf_token}}}
                {{{form}}}
                <button>Создать</button>
            </form>
            <div id="modelfieldname">
                    {{#fields}}
                    <div>{{name}}</div>
                    {{/fields}}
            </div>
        </script>

        <script id="modelBody" type="text/x-handlebars-template">
              <div>
              {{#model}}
                <div id="{{key}}" modelname="{{../modelname}}" object_id="{{../model_id}}">
                    <input type='text' value="{{value}}" readonly id="id_{{key}}_{{../modelname}}" object_id="{{../model_id}}_{{../modelname}}" name="{{key}}"/>
                </div>
              {{/model}}
              </div>
        </script>
        <script id="modelForm" type="text/x-handlebars-template">

        </script>
        {% endverbatim %}
        <script type="text/javascript">
            function get_data(url) {
                
            };
            $(document).on('click','a', function(event) {
                event.preventDefault();
                var url = $(this).attr('href');
                $("#model_data").remove();
                var html = "<div id=\"model_data\">";
                $("#results").append(html);
                $.ajax({
                    url: '/fields'+url,
                    success: function( data ) {
                        var modelname = data.modelname;
                        var source = $("#fields-template").html();
                        var template = Handlebars.compile(source);
                        var context = { fields: data.fields,
                                        csrf_token: "{% csrf_token %}",
                                        form:data.form, 
                                        modelname:modelname
                                    };
                        var html = template(context);
                        $("#model_data").append(html);
                        $.ajax({
                            url: url,
                            success: function( model_data ) {
                                var source = $("#modelBody").html();
                                var template = Handlebars.compile(source);
                                $.each(model_data, function(index, element) {
                                    output = $.map(element, function(value, key) {
                                                return {"key":key,
                                                        "value":value,
                                                    }
                                            });
                                    var context = { model: output,
                                                    model_id: element.id,
                                                    fields: data.fields, 
                                                    modelname:modelname};
                                    var html = template(context);
                                    $("#model_data").append(html);
                                });
                            },
                        });

                        set_dom();                       
                    }
                });
                var html = "</div>";
                $("#model_data").append(html);
                return false;
            });
            function set_dom() {
                $('input[name=date_joined]').datepicker({
                                          lang:'ru',
                                          dateFormat:'yy-mm-dd',
                });
                $('form#model_form').on('submit', function(event) {
                    event.preventDefault();
                    var form_name = $(this).attr('form_name');
                    var url = '/'+form_name+'/';
                    $.ajax({
                        type: "POST",
                        cache: false,
                        url: url,
                        data: $(this).serializeArray(),
                        success: function(data) {
                            $('a#'+form_name).click();
                        },
                        statusCode: {
                            400: function(response) {
                                alert(response.responseText);
                            }
                        }
                    });
                    return false;
                });
            };
            $(document).on('click','div', function(event) {
                var objid = $(this).attr("object_id");
                var mdlname = $(this).attr("modelname");
                var k = $(this).attr("id");
                if (objid && mdlname && k) {
                    var thisinput = $(this).find('input').first()
                    thisinput.removeAttr("readonly");
                    if (k=="date_joined") {
                        thisinput.datepicker({
                                          lang:'ru',
                                          dateFormat:'yy-mm-dd',
                        })
                    }
                    $(thisinput).blur(function() {
                        var val = $(thisinput).val()
                        var link = '/'+mdlname+'/'+objid+'/';
                        $.ajax({
                            url: link,
                            data: k+"="+val,
                            type: "PATCH",
                            success: function(data) {
                                thisinput.attr("readonly", true);
                            },
                            statusCode: {
                                400: function(response) {
                                    alert(response.responseText);
                                }
                            }
                        });
                    });                        
                }
            });
        </script>
    </body>
</html>
